In [1525]:
import os
import pandas as pd
import xlrd     #Read Excel file
os.chdir('C:/Users/Jack Tan/Desktop')
raw_df = pd.read_excel("Selected.xlsx")
direct_df = pd.read_excel("Directors.xlsx")
actors_df = pd.read_excel("Actors.xlsx")
pro_df = pd.read_excel("Companies.xlsx")
dff = pd.read_csv("2019_movie_data.csv")

In [1526]:
import warnings
warnings.filterwarnings("ignore")
dff.head()

,index,primaryTitle,Rating,Release_date,Production,MPR,Run_time,Countrys,Genre,Budget,Gross_USA,Gross_Worldwide,Directors,Actor1,Actor2,Actor3
0,tt4154796,Avengers: Endgame,8.7,4/26/2019,Marvel Studios,PG,181,['USA'],"[' Action', ' Adventure', ' Sci-Fi']",356000000,854531934,2790591417,Anthony Russo,Robert Downey Jr.,Chris Evans,Mark Ruffalo
1,tt6565702,Dark Phoenix,6.0,6/7/2019,Twentieth Century Fox,PG,113,['USA'],"[' Action', ' Adventure', ' Sci-Fi']",200000000,65363812,251741812,Simon Kinberg,James McAvoy,Michael Fassbender,Jennifer Lawrence
2,tt6139732,Aladdin,7.4,5/24/2019,Walt Disney Pictures,PG,128,['USA'],"[' Adventure', ' Comedy', ' Family', ' Fantasy...",183000000,340326138,989112529,Guy Ritchie,Will Smith,Mena Massoud,Naomi Scott
3,tt0437086,Alita: Battle Angel,7.4,2/14/2019,Twentieth Century Fox,PG,122,['USA'],"[' Action', ' Adventure', ' Sci-Fi', ' Thriller']",170000000,85710210,404852543,Robert Rodriguez,Rosa Salazar,Christoph Waltz,Jennifer Connelly
4,tt3741700,Godzilla: King of the Monsters,6.6,5/31/2019,Warner Bros.,PG,132,"['USA', 'Japan']","[' Action', ' Adventure', ' Fantasy', ' Sci-Fi']",170000000,109600735,384400735,Michael Dougherty,Kyle Chandler,Vera Farmiga,Millie Bobby Brown

In [1579]:
#raw_df2 = raw_df[raw_df.Budget > 0]
raw_df2 = dff[dff.Budget > 0]
raw_df3 = raw_df2[raw_df2.Gross_Worldwide != 0]
#raw_df4 = raw_df3.iloc[:,[1,2,3,6,8,9,10,11,12,13,14,15,16,17]]
raw_df4 = raw_df3.iloc[:,[1,3,4,7,8,9,10,11,12,13,14,15]]
raw_df4['Ratio'] = raw_df4['Gross_Worldwide']*0.2/raw_df4['Budget']
raw_df4_mod = raw_df4
raw_df4_mod.head(3)

,primaryTitle,Release_date,Production,Countrys,Genre,Budget,Gross_USA,Gross_Worldwide,Directors,Actor1,Actor2,Actor3,Ratio
0,Avengers: Endgame,4/26/2019,Marvel Studios,['USA'],"[' Action', ' Adventure', ' Sci-Fi']",356000000,854531934,2790591417,Anthony Russo,Robert Downey Jr.,Chris Evans,Mark Ruffalo,1.567748
1,Dark Phoenix,6/7/2019,Twentieth Century Fox,['USA'],"[' Action', ' Adventure', ' Sci-Fi']",200000000,65363812,251741812,Simon Kinberg,James McAvoy,Michael Fassbender,Jennifer Lawrence,0.251742
2,Aladdin,5/24/2019,Walt Disney Pictures,['USA'],"[' Adventure', ' Comedy', ' Family', ' Fantasy...",183000000,340326138,989112529,Guy Ritchie,Will Smith,Mena Massoud,Naomi Scott,1.080997

In [1580]:
int(raw_df4['Gross_Worldwide'][0])

2790591417

In [1529]:
hbudget_ad = []
mbudget_ad = []
lbudget_ad = []
llbudget_ad = []
for i in range(0,len(raw_df4_mod)):
    if raw_df4_mod['Budget Adjusted'][i] >= 100000000:
        hbudget_ad.append(1)
    else:
        hbudget_ad.append(0)

for i in range(0,len(raw_df4_mod)):
    if (raw_df4_mod['Budget Adjusted'][i] >= 50000000) and (raw_df4_mod['Budget Adjusted'][i] < 100000000):
        mbudget_ad.append(1)
    else:
        mbudget_ad.append(0)

for i in range(0,len(raw_df4_mod)):
    if (raw_df4_mod['Budget Adjusted'][i] >= 10000000) and (raw_df4_mod['Budget Adjusted'][i] < 50000000):
        lbudget_ad.append(1)
    else:
        lbudget_ad.append(0)

for i in range(0,len(raw_df4_mod)):
    if raw_df4_mod['Budget Adjusted'][i] < 10000000:
        llbudget_ad.append(1)
    else:
        llbudget_ad.append(0)

In [1581]:
#ignore
hbudget_ad = []
mbudget_ad = []
lbudget_ad = []
llbudget_ad = []
for i in range(0,len(raw_df4_mod)):
    if raw_df4_mod['Budget'].values[i] >= 100000000:
        hbudget_ad.append(1)
    else:
        hbudget_ad.append(0)

for i in range(0,len(raw_df4_mod)):
    if (raw_df4_mod['Budget'].values[i] >= 50000000) and (raw_df4_mod['Budget'].values[i] < 100000000):
        mbudget_ad.append(1)
    else:
        mbudget_ad.append(0)

for i in range(0,len(raw_df4_mod)):
    if (raw_df4_mod['Budget'].values[i] >= 10000000) and (raw_df4_mod['Budget'].values[i] < 50000000):
        lbudget_ad.append(1)
    else:
        lbudget_ad.append(0)

for i in range(0,len(raw_df4_mod)):
    if raw_df4_mod['Budget'].values[i] < 10000000:
        llbudget_ad.append(1)
    else:
        llbudget_ad.append(0)

In [1582]:
len(raw_df4_mod)

61

In [1583]:
DRROI = []
for i in range(0,len(raw_df4_mod)):
    a = 0
    for j in range (0, len(direct_df)):
        if raw_df4_mod['Directors'].values[i] == direct_df['Directors'].values[j]:
            DRROI.append(direct_df['Last'].values[j])
            a = 1
    if a == 0:
        DRROI.append(0)

In [1584]:
PRROI =[]
for i in range(0,len(raw_df4_mod)):
    a = 0
    for j in range (0, len(pro_df)):
        if raw_df4_mod['Production'].values[i] == pro_df['Company'].values[j]:
            PRROI.append(direct_df['Last'].values[j])
            a = 1
    if a == 0:
        PRROI.append(0)

In [1585]:
A1ROI = []
for i in range(0,len(raw_df4_mod)):
    a = 0
    for j in range (0, len(actors_df)):
        if raw_df4_mod['Actor1'].values[i] == actors_df['Actors'].values[j]:
            A1ROI.append(actors_df['Last'].values[j])
            a = 1
    if a == 0:
        A1ROI.append(0)

In [1586]:
A2ROI = []
for i in range(0,len(raw_df4_mod)):
    a = 0
    for j in range (0, len(actors_df)):
        if raw_df4_mod['Actor2'].values[i] == actors_df['Actors'].values[j]:
            A2ROI.append(actors_df['Last'].values[j])
            a = 1
    if a == 0:
        A2ROI.append(0)

In [1587]:
A3ROI = []
for i in range(0,len(raw_df4_mod)):
    a = 0
    for j in range (0, len(actors_df)):
        if raw_df4_mod['Actor3'].values[i] == actors_df['Actors'].values[j]:
            A3ROI.append(actors_df['Last'].values[j])
            a = 1
    if a == 0:
        A3ROI.append(0)

In [1588]:
music = []
crime = []
animation = []
horror = []
adventure = []
scifi = []
family = []
fantasy = []
comedy = []
documentary = []
action = []
mystery = []
thriller = []
romance = []
biography = []
drama = []
sport = []
history = []
war = []
western = []
musical = []

for i in range(0,len(raw_df4_mod)):
    if 'Musical' in raw_df4_mod['Genre'].values[i]:
        musical.append(1)
    else:
        musical.append(0)
        
for i in range(0,len(raw_df4_mod)):
    if 'Western' in raw_df4_mod['Genre'].values[i]:
        western.append(1)
    else:
        western.append(0)

for i in range(0,len(raw_df4_mod)):
    if 'Music' in raw_df4_mod['Genre'].values[i]:
        music.append(1)
    else:
        music.append(0)
        
    if 'Crime' in raw_df4_mod['Genre'].values[i]:
        crime.append(1)
    else:
        crime.append(0)
    
    if 'Animation' in raw_df4_mod['Genre'].values[i]:
        animation.append(1)
    else:
        animation.append(0)
        
    if 'Horror' in raw_df4_mod['Genre'].values[i]:
        horror.append(1)
    else:
        horror.append(0)
        
    if 'Adventure' in raw_df4_mod['Genre'].values[i]:
        adventure.append(1)
    else:
        adventure.append(0)
        
    if 'Sci-Fi' in raw_df4_mod['Genre'].values[i]:
        scifi.append(1)
    else:
        scifi.append(0)
    
    if 'Family' in raw_df4_mod['Genre'].values[i]:
        family.append(1)
    else:
        family.append(0)
    
    if 'Fantasy' in raw_df4_mod['Genre'].values[i]:
        fantasy.append(1)
    else:
        fantasy.append(0)
        
    if 'Comedy' in raw_df4_mod['Genre'].values[i]:
        comedy.append(1)
    else:
        comedy.append(0)
        
    if 'Action' in raw_df4_mod['Genre'].values[i]:
        action.append(1)
    else:
        action.append(0)
        
    if 'Documentary' in raw_df4_mod['Genre'].values[i]:
        documentary.append(1)
    else:
        documentary.append(0)
        
    if 'Mystery' in raw_df4_mod['Genre'].values[i]:
        mystery.append(1)
    else:
        mystery.append(0)
        
    if 'Thriller' in raw_df4_mod['Genre'].values[i]:
        thriller.append(1)
    else:
        thriller.append(0)
        
    if 'Romance' in raw_df4_mod['Genre'].values[i]:
        romance.append(1)
    else:
        romance.append(0)
    
    if 'Biography' in raw_df4_mod['Genre'].values[i]:
        biography.append(1)
    else:
        biography.append(0)
        
    if 'Drama' in raw_df4_mod['Genre'].values[i]:
        drama.append(1)
    else:
        drama.append(0)
        
    if 'Sport' in raw_df4_mod['Genre'].values[i]:
        sport.append(1)
    else:
        sport.append(0)
        
    if 'War' in raw_df4_mod['Genre'].values[i]:
        war.append(1)
    else:
        war.append(0)
        
    if 'History' in raw_df4_mod['Genre'].values[i]:
        history.append(1)
    else:
        history.append(0)

In [1589]:
#Ignore please
Jan = []
Feb = []
Mar = []
Apr = []
May = []
Jun = []
Jul = []
Aug = []
Sep = []
Oct = []
Nov = []
Dec = []
month = [Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec]

for i in range(0,len(raw_df4_mod)):
    for j in range(0,12):
        if isinstance(raw_df4_mod['Release_date'].values[i],str):
            if int(raw_df4_mod['Release_date'].values[i].split('/')[0]) == (j+1):
                month[j].append(1)
            else:
                month[j].append(0)
        else:
            month[j].append(0)

ym = []
for i in range(0,len(raw_df4_mod)):
    if isinstance(raw_df4_mod['Release_date'].values[i],str):
        ym.append(int(raw_df4_mod['Release_date'].values[i].split('/')[2])*100 + int(raw_df4_mod['Release_date'].values[i].split('/')[0]))
    else:
        ym.append(0)

In [1536]:
Jan = []
Feb = []
Mar = []
Apr = []
May = []
Jun = []
Jul = []
Aug = []
Sep = []
Oct = []
Nov = []
Dec = []
month = [Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec]
for i in range(0,len(raw_df4_mod)):
    for j in range(0,12):
        if isinstance(raw_df4_mod['Release_date'][i].month,int):
            if raw_df4_mod['Release_date'][i].month == j:
                month[j].append(1)
            else:
                month[j].append(0)
        else:
            month[j].append(0)

ym = []
for i in range(0,len(raw_df4_mod)):
    if isinstance(raw_df4_mod['Release_date'][i].month,int):
        ym.append(raw_df4_mod['Release_date'][i].year*100 + raw_df4_mod['Release_date'][i].month)
    else:
        ym.append(0)

In [1252]:
R_int = []
G_int = []
PG_int = []
N_int = []
O_int = []

for i in raw_df4_mod['MPR'].values:
    if i == 'R':
        R_int.append(1)
    else:
        R_int.append(0)
        
for i in raw_df4_mod['MPR'].values:
    if i == 'PG':
        PG_int.append(1)
    else:
        PG_int.append(0)
        
for i in raw_df4_mod['MPR'].values:
    if i == 'G':
        G_int.append(1)
    else:
        G_int.append(0)

for i in raw_df4_mod['MPR'].values:
    if i == 'None':
        N_int.append(1)
    else:
        N_int.append(0)
        
for i in raw_df4_mod['MPR'].values:
    if i == 'Not':
        O_int.append(1)
    else:
        O_int.append(0)

In [1590]:
len(R_int)

1999

In [1591]:
raw_df5 = pd.DataFrame(raw_df4_mod.iloc[:,1])
raw_df5['Directors'] = DRROI
raw_df5['Actor1'] = A1ROI
raw_df5['Actor2'] = A2ROI
raw_df5['Actor3'] = A3ROI
#raw_df5['Production'] = PRROI
raw_df5['Month'] = ym
raw_df5['High'] = hbudget_ad
raw_df5['Mid'] = mbudget_ad
raw_df5['Low'] = lbudget_ad
raw_df5['Verylow'] = llbudget_ad
#raw_df5['R'] = R_int
#raw_df5['G'] = G_int
#raw_df5['PG'] = PG_int
#raw_df5['N'] = N_int
#raw_df5['U'] = O_int
raw_df5['Jan'] = month[0]
raw_df5['Feb'] = month[1]
raw_df5['Mar'] = month[2]
raw_df5['Apr'] = month[3]
raw_df5['May'] = month[4]
raw_df5['Jun'] = month[5]
raw_df5['Jul'] = month[6]
raw_df5['Aug'] = month[7]
raw_df5['Sep'] = month[8]
raw_df5['Oct'] = month[9]
raw_df5['Nov'] = month[10]
raw_df5['Dec'] = month[11]
raw_df5['music'] = music
raw_df5['crime'] = crime
raw_df5['animation'] = animation
raw_df5['horror'] = horror
raw_df5['adventure'] = adventure
raw_df5['scifi'] = scifi
raw_df5['family'] = family
raw_df5['fantasy'] = fantasy
raw_df5['comedy'] = comedy
raw_df5['documentary'] = documentary
raw_df5['action'] = action
raw_df5['mystery'] = mystery
raw_df5['thriller'] = thriller
raw_df5['romance'] = romance
raw_df5['biography'] = biography
raw_df5['drama'] = drama
raw_df5['sport'] = sport
raw_df5['history'] = history
raw_df5['war'] = war
raw_df5['western'] = western
raw_df5['musical'] = musical
raw_df5.head()

,Release_date,Directors,Actor1,Actor2,Actor3,Month,High,Mid,Low,Verylow,...,mystery,thriller,romance,biography,drama,sport,history,war,western,musical
0,4/26/2019,1,1,1,1,201904,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,6/7/2019,0,1,1,1,201906,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5/24/2019,1,1,0,1,201905,1,0,0,0,...,0,0,1,0,0,0,0,0,0,1
3,2/14/2019,1,0,1,1,201902,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,5/31/2019,1,1,1,0,201905,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [1592]:
raw_df5.iloc[1:2,[5,23]]

    Month  crime
1  201906      0

In [1593]:
genres = ['music','crime','animation','horror','adventure','scifi','family','fantasy','comedy','documentary','action','mystery','thriller','romance','biography','drama','sport','history','war','western','musical']
raw_df6 = pd.DataFrame(raw_df5.iloc[:,0])
raw_df6['Directors'] = DRROI
raw_df6['Actor1'] = A1ROI
raw_df6['Actor2'] = A2ROI
raw_df6['Actor3'] = A3ROI
#raw_df6['Production'] = PRROI
raw_df6['High'] = hbudget_ad
raw_df6['Mid'] = mbudget_ad
raw_df6['Low'] = lbudget_ad
raw_df6['Verylow'] = llbudget_ad
#raw_df6['R'] = R_int
#raw_df6['G'] = G_int
#raw_df6['PG'] = PG_int
#raw_df6['N'] = N_int
#raw_df6['U'] = O_int
raw_df6['Jan'] = month[0]
raw_df6['Feb'] = month[1]
raw_df6['Mar'] = month[2]
raw_df6['Apr'] = month[3]
raw_df6['May'] = month[4]
raw_df6['Jun'] = month[5]
raw_df6['Jul'] = month[6]
raw_df6['Aug'] = month[7]
raw_df6['Sep'] = month[8]
raw_df6['Oct'] = month[9]
raw_df6['Nov'] = month[10]
raw_df6['Dec'] = month[11]
raw_df6['music'] = music
raw_df6['crime'] = crime
raw_df6['animation'] = animation
raw_df6['horror'] = horror
raw_df6['adventure'] = adventure
raw_df6['scifi'] = scifi
raw_df6['family'] = family
raw_df6['fantasy'] = fantasy
raw_df6['comedy'] = comedy
raw_df6['documentary'] = documentary
raw_df6['action'] = action
raw_df6['mystery'] = mystery
raw_df6['thriller'] = thriller
raw_df6['romance'] = romance
raw_df6['biography'] = biography
raw_df6['drama'] = drama
raw_df6['sport'] = sport
raw_df6['history'] = history
raw_df6['war'] = war
raw_df6['western'] = western
raw_df6['musical'] = musical

In [ ]:
#Future competition adjustment
for i in range(0,len(genres)):
    a = pd.DataFrame(raw_df5.groupby('Month')[genres[i]].sum())
    b = pd.DataFrame(raw_df5.iloc[:,[5,18+i]])
    c = []
    for j in range(0,len(raw_df5)):
        g = 0
        for k in range(0,7):
            if (a.index[k] == b['Month'][j]) and (a[genres[i]].values[k] != 0):
                c.append(b[genres[i]][j]/a[genres[i]].values[k])
                g = 1
        if g == 0:
            c.append(b[genres[i]][j])
    raw_df6[genres[i]] = c

In [1594]:
raw_df6.iloc[1:2,1:18]

,Directors,Actor1,Actor2,Actor3,High,Mid,Low,Verylow,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep
1,0,1,1,1,1,0,0,0,0,0,0,0,0,1,0,0,0

In [1595]:
Y = []
for i in range(0,len(raw_df4_mod)):
    if raw_df4_mod['Ratio'].values[i] > 0.42:
        Y.append(1)
    else:
        Y.append(0)
len(Y)
raw_df6['y'] = Y

In [1542]:
#raw_df7 = pd.concat([raw_df6.iloc[1:2,0:5],raw_df6.iloc[1:2,7:-1]],axis =1)
raw_df6.shape

(1999, 44)

In [1577]:
from sklearn.model_selection import StratifiedShuffleSplit
import numpy as np
split = StratifiedShuffleSplit(n_splits = 1, test_size = 0.2, random_state = 42)
for train_index, test_index in split.split(raw_df6,raw_df6['Year']):
    strat_train_set = raw_df6.iloc[train_index,:]
    strat_test_set = raw_df6.iloc[test_index,:]

Y_train = strat_train_set['y'].values
x_train = strat_train_set.iloc[:,1:-1].values
Y_test = strat_test_set['y'].values
x_test = strat_test_set.iloc[:,1:-1].values

In [1544]:
from sklearn.tree import DecisionTreeClassifier
treeclf = DecisionTreeClassifier(random_state=42)

from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators=100,
                                n_jobs=-1, random_state=42)

from sklearn.ensemble import AdaBoostClassifier
ada = AdaBoostClassifier(n_estimators=30,
                         algorithm="SAMME.R",
                         learning_rate=0.25, random_state=42)

from sklearn.ensemble import GradientBoostingClassifier
gb = GradientBoostingClassifier(max_depth=2,
                                n_estimators=5,
                                learning_rate=0.1,
                                random_state=42)

In [1578]:
from sklearn.ensemble import VotingClassifier
vote_s = VotingClassifier(estimators=[('forest', forest),
                                      ('tree', treeclf),
                                      ('ada', ada), ('gb', gb)],
                          n_jobs=-1,
                          voting='soft')
vote_s.fit(x_train, Y_train)
vote_s.score(x_test, Y_test)

0.6675

In [1598]:
df = pd.read_csv("predition_data.csv")
x_t = df.iloc[:,1:-1].values
Y_t = df['y']
vote_s.score(x_t,Y_t)

0.5409836065573771

In [1597]:
export_csv = raw_df6.to_csv (r'C:\Users\Jack Tan\Desktop\predition_data.csv', index = None, header=True)

In [1574]:
vote_s.predict(x_t)

array([0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [1512]:
df.head()

,Release_date,Directors,Actor1,Actor2,Actor3,Production,High,Mid,Low,Verylow,...,thriller,romance,biography,drama,sport,history,war,western,musical,y
0,4/26/2019,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,6/7/2019,0,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5/24/2019,1,1,0,1,1,1,0,0,0,...,0,1,0,0,0,0,0,0,1,1
3,2/14/2019,1,0,1,1,1,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
4,5/31/2019,1,1,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [1341]:
vote_s.get_params()

{'estimators': [('forest',
   RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                          max_depth=None, max_features='auto', max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_jobs=-1, oob_score=False, random_state=42, verbose=0,
                          warm_start=False)),
  ('tree',
   DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, presort=False,
                          random_state=42, splitter='best')),
  ('ada',
   AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=0.25,
                      n_estimators=30, random_state=42)),
  ('gb', GradientBoostingClassifier(criterion='friedman_mse', init=None,
                              learning_rate=0.1, loss='deviance', max_depth=2,
                              max_features=None, max_leaf_nodes=None,
                              min_impurity_decrease=0.0, min_impurity_split=None,
                              min_samples_leaf=1, min_samples_split=2,
                              min_weight_fraction_leaf=0.0, n_estimators=5,
                              n_iter_no_change=None, presort='auto',
                              random_state=42, subsample=1.0, tol=0.0001,
                              validation_fraction=0.1, verbose=0,
                              warm_start=False))],
 'flatten_transform': True,
 'n_jobs': -1,
 'voting': 'soft',
 'weights': None,
 'forest': RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                        max_depth=None, max_features='auto', max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, n_estimators=100,
                        n_jobs=-1, oob_score=False, random_state=42, verbose=0,
                        warm_start=False),
 'tree': DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                        max_features=None, max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort=False,
                        random_state=42, splitter='best'),
 'ada': AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=0.25,
                    n_estimators=30, random_state=42),
 'gb': GradientBoostingClassifier(criterion='friedman_mse', init=None,
                            learning_rate=0.1, loss='deviance', max_depth=2,
                            max_features=None, max_leaf_nodes=None,
                            min_impurity_decrease=0.0, min_impurity_split=None,
                            min_samples_leaf=1, min_samples_split=2,
                            min_weight_fraction_leaf=0.0, n_estimators=5,
                            n_iter_no_change=None, presort='auto',
                            random_state=42, subsample=1.0, tol=0.0001,
                            validation_fraction=0.1, verbose=0,
                            warm_start=False),
 'forest__bootstrap': True,
 'forest__class_weight': None,
 'forest__criterion': 'gini',
 'forest__max_depth': None,
 'forest__max_features': 'auto',
 'forest__max_leaf_nodes': None,
 'forest__min_impurity_decrease': 0.0,
 'forest__min_impurity_split': None,
 'forest__min_samples_leaf': 1,
 'forest__min_samples_split': 2,
 'forest__min_weight_fraction_leaf': 0.0,
 'forest__n_estimators': 100,
 'forest__n_jobs': -1,
 'forest__oob_score': False,
 'forest__random_state': 42,
 'forest__verbose': 0,
 'forest__warm_start': False,
 'tree__class_weight': None,
 'tree__criterion': 'gini',
 'tree__max_depth': None,
 'tree__max_features': None,
 'tree__max_leaf_nodes': None,
 'tree__min_impurity_decrease': 0.0,
 'tree__min_impurity_split': None,
 'tree__min_samples_leaf': 1,
 'tree__min_samples_split': 2,
 'tree__min_weight_fraction_leaf': 0.0,
 'tree__presort': False,
 'tree__random_state': 42,
 'tree__splitter': 'best',
 'ada__algorithm': 'SAMME.R',
 'ada__base_estimator': None,
 'ada__learning_rate': 0.25,
 'ada__n_estimators': 30,
 'ada__random_state': 42,
 'gb__criterion': 'friedman_mse',
 'gb__init': None,
 'gb__learning_rate': 0.1,
 'gb__loss': 'deviance',
 'gb__max_depth': 2,
 'gb__max_features': None,
 'gb__max_leaf_nodes': None,
 'gb__min_impurity_decrease': 0.0,
 'gb__min_impurity_split': None,
 'gb__min_samples_leaf': 1,
 'gb__min_samples_split': 2,
 'gb__min_weight_fraction_leaf': 0.0,
 'gb__n_estimators': 5,
 'gb__n_iter_no_change': None,
 'gb__presort': 'auto',
 'gb__random_state': 42,
 'gb__subsample': 1.0,
 'gb__tol': 0.0001,
 'gb__validation_fraction': 0.1,
 'gb__verbose': 0,
 'gb__warm_start': False}

In [37]:
treeclf.predict(arr)

array([0, 0])